@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

//CSS Reset Default meyerweb
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input[type = "button"] {
  border: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	color: $base-black;
	background-color: $base-white;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  display: inline-block;
  padding: 0;
}

h1, h2, h3, h4 {
	font-family: "Montserrat", serif;
	font-weight: 700;
}

p, a, li, button, label {
	font-family: "Hind", serif;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: unset;
}

input {
	all: unset;
	border: $border-1;
	box-shadow: $input-drop-shadow;
	border-radius: $size-8px;
	height: $size-36px;
}

.save__btn {
	background-color: $secondary-clr;
	padding: $size-6px $size-24px;
	border-radius: $size-4px;
	color: $text-white;
}

.cancel__btn {
	padding: $size-6px $size-20px;
	border-radius: $size-4px;
	border: 1px solid $base-black;
}

textarea {
	height: 124px;
	resize: none;
	font-size: $size-16px;
	border-radius: $size-4px;
	padding: $size-8px $size-12px;
	border: $border-1;
	outline: none;
}